@import './var.scss';


.product{
    padding-top: 13rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 5rem auto;
    &_header{
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr;
        height: 45rem;
        width: 100%;    

        @include sm{
            grid-template-columns: 1fr;
        }
    
    }
    &_item{
        position: relative;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 35rem;
        justify-content: center;
        align-items: center;
        margin:2rem auto 0.5rem auto;
        box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.15);
        &:hover{
            box-shadow: 0 1.5rem 1.5rem rgba($color: #000000, $alpha: 0.3);
        }
    }
    &_details{
        box-shadow: 0 0.5rem .2rem rgba($color: #000000, $alpha: 0.3);
    }

    &_slide_back{
        position: absolute;
        transform: translateX(-18rem);
        font-size: 2.5rem;
        color: white;
        &::before{
            content: "";
            position: absolute;
            z-index: -1;
            height: 7rem;
            width: 7rem;
            transform: translate(-2rem, -2.2rem);
            background-color: rgb(84, 85, 87);
            border-radius: 10rem;
            
        }
        &:hover::before{
            background-color: rgb(35, 34, 34);
        }
    }

    &_slide_continue{
        position: absolute;
        transform: translateX(18rem);
        font-size: 2.5rem;
        color: white;
        &::after{
            content: "";
            position: absolute;
            z-index: -1;
            height: 7rem;
            width: 7rem;
            transform: translate(-4.5rem, -2.2rem);
            background-color: rgb(84, 85, 87);
            border-radius: 10rem;
        }
        &:hover::after{
            background-color: rgb(35, 34, 34);
            
        }
    }
    &_discription{
        margin-top: 3rem;
        margin-left: 3rem;
        display: flex;
        flex-direction: column;
       
        
        &_header{
            height: 5rem;
            font-size: 2.4rem;
            font-weight: 600;

        }
        &_prices{
            height: 10rem;
            font-size: 2rem;
            font-weight: 500;
        }
        &_buynow{
            height: 5rem;
            font-size: 2rem;
            
            &-btn{
                height: 3rem;
                width: 10rem;
                border: none;
                outline: none;
                font-size: 1.4rem;
                font-weight: 500;
                border-radius: 10rem;
                background-color: rgb(231, 195, 14);
                cursor: pointer;

                &:hover{
                    transition: 0.1s;
                    width: 13rem;
                    height: 3.5rem;
                    font-size: 2rem;
                }
            }
        }
        &_cart{
            width: 50rem;
            
            display: flex;
        }
    }

}
.product_right_cart{
    margin-left: 1rem;
    font-size: 3rem;
}